@model IEnumerable<PMSApplication.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <span class="caption-subject bold"> Products </span>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("Index", "Product", FormMethod.Post,new { @id="form"}))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4" style="padding:0px">
                                <a href="/Product/Create" class="btn btn-success">Add Product  <i class="fa fa-plus"></i></a><br /><br />
                            </div>
                            <div class="col-md-8" style="display:flex;justify-content:flex-end;">
                                <div style="padding-top:10px;padding-right:10px;">
                                    <input type="checkbox" id="chAdvanceSearch" />
                                </div>
                                <label style="padding-top:10px;padding-right:20px;">Advace Search</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="txtSearch" />
                                </div>
                                <div style="display:flex;align-items:center;">
                                    <a id="btnSearch" href="" onclick="searchProd(event)" class="btn btn-success">
                                        <i class="fa fa-search"></i> Search
                                    </a>
                                    <a id="btnClear" href="/Product/Index?colName=@ViewBag.colName&sortOrder=@ViewBag.sortOrder&noOfRecords=@ViewBag.noOfRecords&pageNo=@ViewBag.pageNo" class="btn btn-default" style="margin-left:10px">Clear</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-4" style="padding:0px">
                                <div class="col-md-3" style="padding:0px">
                                    <select class="form-control" id="noOfRecords">                                        
                                        <option>5</option>
                                        <option>10</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select>
                                </div>
                                <label class="col-md-9" style="padding-top:10px;"> Records </label>
                            </div>
                            <div class="clearfix" style="margin-bottom:25px"></div>
                            <button type="submit" id="btnDeleteMultiple" value="Delete" class="btn btn-danger rounded-0" onclick="deleteMultipleClick(event);"><i class="fa fa-trash-o"></i> Delete</button>
                        </div>
                    </div>
                    <div class="portlet-body" style="margin-top:10px">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="myTable" style="cursor:pointer">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="checkBoxAll" class="custom-checkbox" />
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SmallImage)
                                    </th>
                                    <th>
                                        @if (ViewBag.colName == "ProductName")
                                        {
                                            <a href="/Product/Index?colName=Category&sortOrder=asc&noOfRecords=@ViewBag.noOfRecords&pageNo=@ViewBag.pageNo&search=@ViewBag.search&aSearch=@ViewBag.aSearch" style="color: inherit;text-decoration: inherit;">
                                                @Html.DisplayNameFor(model => model.Category)
                                                <span style="float:right;color:black"><i class="fa fa-sort"></i></span>
                                            </a>
                                        }
                                        else
                                        {
                                            if (ViewBag.sortOrder == "asc")
                                            {
                                                <a href="/Product/Index?colName=Category&sortOrder=desc&noOfRecords=@ViewBag.noOfRecords&pageNo=@ViewBag.pageNo&search=@ViewBag.search&aSearch=@ViewBag.aSearch" style="color: inherit;text-decoration: inherit;">
                                                    @Html.DisplayNameFor(model => model.Category)
                                                    <span style="float:right"><i class="fa fa-sort-asc"></i></span>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/Product/Index?colName=Category&sortOrder=asc&noOfRecords=@ViewBag.noOfRecords&pageNo=@ViewBag.pageNo&search=@ViewBag.search&aSearch=@ViewBag.aSearch" style="color: inherit;text-decoration: inherit;">
                                                    @Html.DisplayNameFor(model => model.Category)
                                                    <span style="float:right"><i class="fa fa-sort-desc"></i></span>
                                                </a>
                                            }
                                        }
                                    </th>
                                    <th>
                                        @if (ViewBag.colName == "Category")
                                        {
                                            <a href="/Product/Index?colName=ProductName&sortOrder=asc&noOfRecords=@ViewBag.noOfRecords&pageNo=@ViewBag.pageNo&search=@ViewBag.search&aSearch=@ViewBag.aSearch" style="color: inherit;text-decoration: inherit;">
                                                @Html.DisplayNameFor(model => model.ProductName)
                                                <span style="float:right;color:black"><i class="fa fa-sort"></i></span>
                                            </a>
                                        }
                                        else
                                        {
                                            if (ViewBag.sortOrder == "asc")
                                            {
                                                <a href="/Product/Index?colName=ProductName&sortOrder=desc&noOfRecords=@ViewBag.noOfRecords&pageNo=@ViewBag.pageNo&search=@ViewBag.search&aSearch=@ViewBag.aSearch" style="color: inherit;text-decoration: inherit;">
                                                    @Html.DisplayNameFor(model => model.ProductName)
                                                    <span style="float:right"><i class="fa fa-sort-asc"></i></span>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/Product/Index?colName=ProductName&sortOrder=asc&noOfRecords=@ViewBag.noOfRecords&pageNo=@ViewBag.pageNo&search=@ViewBag.search&aSearch=@ViewBag.aSearch" style="color: inherit;text-decoration: inherit;">
                                                    @Html.DisplayNameFor(model => model.ProductName)
                                                    <span style="float:right"><i class="fa fa-sort-desc"></i></span>
                                                </a>
                                            }
                                        }
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Price)
                                    </th>
                                    <th width="40%">
                                        @Html.DisplayNameFor(model => model.ShortDescription)
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tr role="row" class="filter">
                                    <td style="display: table-cell;vertical-align: middle;">
                                        <input type="checkbox" name="ID" value="@Html.DisplayFor(modelItem => item.ProductID)" class="custom-checkbox chkCheckBoxId" />
                                    </td>
                                    <td style="display: table-cell;vertical-align: middle;">
                                        <img src="~/Images/SmallImages/@Html.DisplayFor(modelItem => item.SmallImage)" alt="ProductImg" height="70px" width="90px" />
                                    </td>
                                    <td style="display: table-cell;vertical-align: middle;">
                                        @Html.DisplayFor(modelItem => item.Category)
                                    </td>
                                    <td style="display: table-cell;vertical-align: middle;">
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </td>
                                    <td style="display: table-cell;vertical-align: middle;">
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td style="display: table-cell;vertical-align: middle;">
                                        @Html.DisplayFor(modelItem => item.ShortDescription)
                                    </td>
                                    <td style="display: table-cell;vertical-align: middle;">
                                        <a href="/Product/Edit/@Html.DisplayFor(modelItem => item.ProductID)" class="btn btn-success"><i class='fa fa-pencil'></i></a>
                                        <a href="#" id="linkDelete" class="btn btn-danger" onclick="deleteClick(event,@Html.DisplayFor(modelItem => item.ProductID))"><i class='fa fa-times'></i></a>
                                    </td>
                                </tr>
                            }
                        </table>

                    </div>
                }

                <div style="display: flex;align-items: center;justify-content: space-between;">
                    <div>
                        Page @ViewBag.pageNo out of @ViewBag.noOfPages
                    </div>
                    <div class="pagination">
                        <a href="/Product/Index?colName=@ViewBag.colName&sortOrder=@ViewBag.sortOrder&noOfRecords=@ViewBag.noOfRecords&pageNo=1&search=@ViewBag.search&aSearch=@ViewBag.aSearch"><i class="fa fa-angle-double-left"></i></a>
                        <a href="/Product/Index?colName=@ViewBag.colName&sortOrder=@ViewBag.sortOrder&noOfRecords=@ViewBag.noOfRecords&pageNo=@(ViewBag.pageNo-1)&search=@ViewBag.search&aSearch=@ViewBag.aSearch"><i class="fa fa-angle-left"></i></a>
                        <a class="active" href="#">@ViewBag.pageNo</a>
                        <a href="/Product/Index?colName=@ViewBag.colName&sortOrder=@ViewBag.sortOrder&noOfRecords=@ViewBag.noOfRecords&pageNo=@(ViewBag.pageNo+1)&search=@ViewBag.search&aSearch=@ViewBag.aSearch"><i class="fa fa-angle-right"></i></a>
                        <a href="/Product/Index?colName=@ViewBag.colName&sortOrder=@ViewBag.sortOrder&noOfRecords=@ViewBag.noOfRecords&pageNo=@ViewBag.noOfPages&search=@ViewBag.search&aSearch=@ViewBag.aSearch"><i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {
            formValidator.init();
        });

        function deleteClick(e,id) {
            // this will prevent the default redirection / behaviour of link as we are prompting a comfirmation from user
            e.stopPropagation();
            e.preventDefault();
            bootbox.confirm("Are you sure you want to this delete product?", function (result) {
                if (result == true) {
                    window.location.href = "/Product/Delete/"+id;
                }
            });
        }

        function deleteMultipleClick(e) {
            // this will prevent the default redirection / behaviour of link as we are prompting a comfirmation from user
            e.stopPropagation();
            e.preventDefault();
            bootbox.confirm("Are you sure you want to these delete products?", function (result) {
                if (result == true) {
                    $("#form").submit();
                }
            });
        }

        function searchProd(e) {
            e.stopPropagation();
            e.preventDefault();
            var aflag = false;
            if ($("#chAdvanceSearch").prop('checked') == true) {
                aflag = true;
            }
            var str = $("#txtSearch").val();
            if (str != "") {
                window.location.href = "/Product/Index?colName=@ViewBag.colName&sortOrder=@ViewBag.sortOrder&noOfRecords=@ViewBag.noOfRecords&pageNo=@ViewBag.pageNo&search=" + str + "&aSearch=" + aflag;
            }
            else {
                window.location.href = "/Product/Index?colName=@ViewBag.colName&sortOrder=@ViewBag.sortOrder&noOfRecords=@ViewBag.noOfRecords&pageNo=@ViewBag.pageNo&search=@ViewBag.search&aSearch=@ViewBag.aSearch";
            }
        }


        var formValidator = function () {
            
            function toastShow() {
                var msg = '@TempData["toast"]';
                var type = '@TempData["type"]';
                if (msg != '' && type != '') {
                    if (type == 'success')
                        toastr.success(msg);
                    else
                        toastr.error(msg);
                }
            }

            function pageValue() {
                if(@ViewBag.noOfRecords!=2)
                    $("#noOfRecords").val(@ViewBag.noOfRecords).change();
                $("#noOfRecords").change(function () {
                    var nor = $('option:selected', this).text();
                    //@ViewBag.noOfRecords= nor;
                    window.location.href = "/Product/Index?colName=@ViewBag.colName&sortOrder=@ViewBag.sortOrder&noOfRecords=" + nor + "&pageNo=@ViewBag.pageNo&search=@ViewBag.search&aSearch=@ViewBag.aSearch";
                });
            }

            function selectAllCheckBox() {
                $('#checkBoxAll').click(function () {
                    if ($(this).is(":checked")) {
                        $(".chkCheckBoxId").prop("checked", true);
                    }
                    else {
                        $(".chkCheckBoxId").prop("checked", false);
                    }
                });
            }

            return {
                init: function () {
                    toastShow();
                    pageValue();
                    selectAllCheckBox();
                }
            };

        }();

    </script>
}