@model IEnumerable<ABS.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <span class="caption-subject bold"> Bookings </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="col-md-4" style="padding:0px">
                    <a href="/Booking/Create" class="btn btn-success">Book Appointment  <i class="fa fa-plus"></i></a><br /><br />
                </div>
                
                <div class="portlet-body" style="margin-top:10px">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="myTable" style="cursor:pointer">
                        <thead>
                            <tr>                                
                                <th>
                                    Start Date Time
                                </th>
                                <th>
                                    End Date Time
                                </th>
                                <th>
                                    Status
                                </th>  
                                <th></th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tr role="row" class="filter">                                
                                <td style="display: table-cell;vertical-align: middle;">
                                    @Html.DisplayFor(modelItem => item.StartDateTime)
                                </td>
                                <td style="display: table-cell;vertical-align: middle;">
                                    @Html.DisplayFor(modelItem => item.EndDateTime)
                                </td>
                                <td style="display: table-cell;vertical-align: middle;">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td style="display: table-cell;vertical-align: middle;">
                                    <a href="/Booking/Edit/@Html.DisplayFor(modelItem => item.Id)" class="btn btn-success"><i class='fa fa-pencil'></i></a>
                                </td>
                            </tr>
                        }
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var msg = '@TempData["invalidLogin"]';
            if (msg != '') {
                toastr.error(msg);
            }
        });
    </script>
}
